#instruction {
  position: fixed;
  top: -5px;
  left: 10px;
  z-index: 100;
  pointer-events: none;
  color: #333;
  font-size: 20px;
  color: white;
}

#instruction .key {
  font-weight: bold;
  padding: 5px 10px;
  background-color: rgba(102, 102, 102, 0.5);
  text-transform: uppercase;
}

#instruction span {
  transition: 0.05s ease;
}

#instruction span.active {
  background-color: #FFBB5C;
  color: #000;
}