#polygonsList {
  position: fixed;
  top: -5px;
  right: 10px;
  z-index: 100;
  pointer-events: none;
  color: #333;
  font-size: 20px;
  color: white;
}

#polygonsList .list {
  font-weight: bold;
  padding: 5px 10px;
  background-color: rgba(145, 145, 145, 0.2);
}

#polygonsList .list.active {
  background-color: #ffb246;
  color: #000;
}